@model IEnumerable<prjWebApplication1.Models.Discount>

@{
    ViewData["Title"] = "DiscountAdmin";
}

<br />
<p style="font-size:30px">優惠一覽表</p>
<div class="forp">
    @using (Html.BeginForm())
    {
        @:關鍵字 @Html.TextBox("txtKeyword", "", new { @class = "form-control" }) <input type="submit" value="查詢" class="btn btn-secondary" />
    }
    <br />
    <p>
        <a asp-action="Create" class="btn btn-dark">新增資料</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                序列
            </th>
            <th>
                優惠名稱
            </th>
            <th>
                優惠折扣
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountInfo)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.RoomDiscountId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("刪除", "Delete", "Discount", new { id = item.RoomDiscountId },
                        new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
