@model IEnumerable<prjWebApplication1.Models.Discount>

@{
    ViewData["Title"] = "DiscountAdmin";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link href="~/css/ForTable.css" rel="stylesheet" />

<br />
<p style="font-size:30px" class="forp">優惠一覽表</p>
<div class="forp">
    @using (Html.BeginForm())
    {
        @:關鍵字 @Html.TextBox("txtKeyword", "", new { @class = "form-control" }) <input type="submit" value="查詢" class="btn btn-secondary" />
    }
    <br />
    <p>
        <a asp-action="Create" class="btn btn-dark">新增資料</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                序列
            </th>
            <th>
                優惠名稱
            </th>
            <th>
                優惠折扣
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountInfo)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.RoomDiscountId }, new { @class = "btn btn-dark" }) |
                        @Html.ActionLink("刪除", "Delete", "Discount", new { id = item.RoomDiscountId },
                        new { onclick = "return confirm('確定要刪除嗎?')", @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
