@model IEnumerable<prjWebApplication1.Models.Order>

@{
    ViewData["Title"] = "List";
}
<div class="container">
    <br />
    <p style="font-size:30px" class="forp">訂單一覽表</p>
    <div class="forp">
        @using (Html.BeginForm())
        {
            @:關鍵字 @Html.TextBox("txtKeyword", "", new { @class = "form-control" }) <input type="submit" value="查詢" class="btn btn-secondary" />
        }
    </div>
    <p>
            <a asp-action="Create" class="btn btn-dark">新增訂單</a>
        </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="table__heading">
                    訂單編號
                </th>
                <th class="table__heading">
                    訂單備註
                </th>
                <th class="table__heading">
                    會員編號
                </th>
                <th class="table__heading">
                    訂單狀態
                </th>
                <th class="table__heading">
                    房源編號
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table__row">
                    <td class="table__content">
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td class="table__content">
                        @Html.DisplayFor(modelItem => item.OrderRemark)
                    </td>
                    <td class="table__content">
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td class="table__content">
                        @Html.DisplayFor(modelItem => item.OrderstatusId)
                    </td>
                    <td class="table__content">
                        @Html.DisplayFor(modelItem => item.RoomId)
                    </td>
                    <td class="table__content">
                        @Html.ActionLink("修改", "Edit", new { id = item.OrderId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("刪除", "Delete", "Order", new { id = item.OrderId },
                        new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

 