@model IEnumerable<prjWebApplication1.Models.Activity>

@{
    ViewData["Title"] = "List";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link href="~/css/ForTable.css" rel="stylesheet" />
<div class="container">
    <br />

    <p style="font-size:30px" class="forp">訂單一覽表</p>
    <div class="forp">
        @using (Html.BeginForm())
        {
            @:關鍵字 @Html.TextBox("txtKeyword", "", new { @class = "form-control" }) <input type="submit" value="查詢" class="btn btn-secondary" />
        }
    </div>
    <p>
        <a asp-action="Create">新增活動</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    序
                </th>
                <th>
                    活動名稱
                </th>
                <th>
                    活動日期
                </th>
                <th>
                    活動資訊
                </th>
                <th>
                    人數上限
                </th>
                <th>
                    活動狀態
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityCapacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityStatus)
                        </td>
                        <td>
                            @Html.ActionLink("修改", "Edit", new { id = item.ActivityId })  |
                            @Html.ActionLink("刪除", "Delete", new { id = item.ActivityId },
                           new { onclick = "return confirm('確定要刪除這項活動嗎?')" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
