@model IEnumerable<prjWebApplication1.Models.Activity>

@{
    ViewData["Title"] = "List";
}
<div class="container">
    <br />

    <p style="font-size:30px">活動一覽表</p>
    <div class="forp">
        @using (Html.BeginForm())
        {
            @:關鍵字 @Html.TextBox("txtKeyword", "", new { @class = "form-control" }) <input type="submit" value="查詢" class="btn btn-secondary" />
        }
    </div>
    <p>
        <a asp-action="Create" class="btn btn-dark">新增活動</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    序
                </th>
                <th>
                    活動名稱
                </th>
                <th>
                    活動日期
                </th>
                <th>
                    活動資訊
                </th>
                <th>
                    人數上限
                </th>
                <th>
                    活動狀態
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityCapacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityStatus)
                        </td>
                        <td>
                            @Html.ActionLink("修改", "Edit", new { id = item.ActivityId }, new { @class = "btn btn-primary" })  |
                            @Html.ActionLink("刪除", "Delete", new { id = item.ActivityId },
                           new { onclick = "return confirm('確定要刪除這項活動嗎?')", Class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
